*.iml
.gradle
/gradle.properties
/gradlew.bat
/gradle
/gradlew
/settings.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/build.gradle
/captures
signing.properties
*.log
*.apk
.idea
/GongGong.iml


